.ActivityDetails {
	background-color: cssvar(--activitydetails-background-color, $background-color-100);
	position: relative;
	width: 100%;
	max-width: 560px;

	&--favorited {
		--activitydetails-title-color: #{cssvar(
				(--activity-favorited-color, --theme-color),
				$theme-color
			)};
	}

	.Cover {
		background-color: cssvar(--placeholder-color, $background-color-800);
	}

	.Cover:after {
		display: block;
		padding-top: 56.25%;
		content: '';
	}

	.blokks-alert {
		margin-bottom: 20px;
	}

	&-Content {
		padding: 24px 32px;
	}

	.TrafficInfo {
		margin-bottom: 20px;
	}

	&-Header {
		max-width: 440px;
	}

	&-Title {
		@include reset-title;
	}

	&-Title {
		font-family: cssvar((--activitydetails-title-font, --default-header), $default-header);
		font-size: cssvar(--activitydetails-title-size, 23px);
		font-weight: cssvar(--activitydetails-title-weight, 600);
		color: cssvar((--activitydetails-title-color, --dark-text-color), $text-color-900);
		transition: color 250ms;
	}

	&-Subtitle {
		@include reset-title;
	}

	&-Subtitle {
		display: cssvar(--activitydetails-display, block);
		font-family: cssvar((--activitydetails-subtitle-font, --default-font), $default-font);
		font-size: cssvar(--activitydetails-subtitle-size, 18px);
		font-weight: cssvar(--activitydetails-subtitle-weight, 400);
		color: cssvar((--activitydetails-subtitle-color, --dimmed-text-color), $text-color-800);
	}

	.Favorites {
		margin-top: 20px;
	}

	.Links {
		margin-top: 12px;
	}

	.CloseButton {
		@include absolute($top: 4px, $right: 4px);
		@include size(48px);
		--closebutton-color: #{$background-color-300};
	}

	.CloseButton:hover {
		--close-button-color: #{cssvar(--theme-color, $theme-color)};
	}
}

@import 'activityDetails/AttendingFriends';
@import 'activityDetails/Description';
@import 'activityDetails/Embeds';
@import 'activityDetails/Favorites';
@import 'activityDetails/RelatedInfo';
@import 'activityDetails/TrafficInfo';
