.ActivityDetails {
	background-color: cssvar(--activitydetails-background-color, $background-color-100);
	position: relative;
	width: 100%;
	max-width: 600px;

	.Cover {
		background-color: cssvar(--placeholder-color, $background-color-800);
	}

	.Cover:after {
		display: block;
		padding-top: 56.25%;
		content: '';
	}

	.blokks-alert {
		margin-bottom: 20px;
	}

	&-Content {
		padding: 25px 30px;
	}

	.TrafficInfo {
		margin-bottom: 20px;;
	}

	&-Header {
		max-width: 450px;
		line-height: 1.3;
	}

	&-Title {
		@include reset-title;
	}

	&-Title {
		font-size: cssvar(--activitydetails-title-size, 19px);
		font-weight: cssvar(--activitydetails-title-weight, 600);
		color: cssvar((--activitydetails-title-color, --dark-text-color), $text-color-900);
		transition: color 250ms;
	}

	&--favorited &-Title {
		--activitydetails-background-color: #{cssvar((--activity-favorited-color, --theme-color), $theme-color)}
	}

	&-Subtitle {
		@include reset-title;
	}

	&-Subtitle {
		font-size: cssvar(--activitydetails-subtitle-size, 15px);
		font-weight: cssvar(--activitydetails-subtitle-weight, 400);
		color: cssvar((--activitydetails-subtitle-color, --dimmed-text-color), $text-color-800);
	}

	.Favorites {
		margin-top: 20px;
	}

	.Links {
		margin-top: 10px;
	}

	.CloseButton {
		@include absolute($top: 5px, $right: 5px);
		@include size(48px);
		--closebutton-color: #{$background-color-300};
	}

	.CloseButton:hover {
		--close-button-color: #{cssvar(--theme-color, $theme-color)};
	}
}

@import 'activityDetails/AttendingFriends';
@import 'activityDetails/Description';
@import 'activityDetails/Embeds';
@import 'activityDetails/Favorites';
@import 'activityDetails/RelatedInfo';
@import 'activityDetails/TrafficInfo';
