.blokks-activity-details {
	width: 100%;
	max-width: 600px;
	background-color: $default-background-color;
	background-color: var(
		--default-background-color,
		$default-background-color
	);

	.blokks-poster {
		background-color: $placeholder-background-color;
		background-color: var(
			--placeholder-background-color,
			$placeholder-background-color
		);
		width: 100%;
	}

	.blokks-poster:after {
		display: block;
		padding-top: 56.25%;
		content: '';
	}

	&__close-button {
		@include close-button;
		@include absolute($top: 10px, $right: 10px);
	}

	&--has-poster &__close-button {
		background-color: rgba($dark-background-color, 30%);
		border-radius: 50%;
		color: $lightest-text-color;
		color: var(--lightest-text-color, $lightest-text-color);
	}

	.blokks-alert {
		margin-bottom: 20px;
	}

	&__content {
		padding: 25px 30px;
	}

	&__header {
		max-width: 500px;
	}

	&__title {
		@include reset-title;
		@include font($default-font, $size: rem(24px), $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
		line-height: 1.4;
	}

	&--favorited &__title {
		color: $theme-color;
		color: var(--theme-color, $theme-color);
	}

	&__subtitle {
		@include reset-title;
		@include font($default-font, $size: rem(18px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		line-height: 1.4;
	}

	&__related-info {
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		line-height: 1.4;
		margin-top: 20px;
	}

	.blokks-time-labels {
		order: 1;
	}

	.blokks-time-labels:after {
		content: ', ';
		white-space: pre-wrap;
	}

	.blokks-date-label {
		order: 2;
	}

	&__date-info {
		display: flex;
		flex-direction: row;
	}

	&__date-info:before {
		display: inline-block;
		width: 100px;
		content: 'Date:';
	}

	&__location {
		display: block;
	}

	&__location:before {
		display: inline-block;
		width: 100px;
		content: 'Location:';
	}

	&--now-playing .blokks-date-label {
		display: none;
	}

	&--coming-soon .blokks-date-label {
		display: none;
	}

	.blokks-categories {
		margin: 5px 0 0 -5px;
	}

	&__description {
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		line-height: 1.4;

		margin-top: 20px;
		max-width: 500px;
	}

	&__description * {
		font-family: inherit;
		color: inherit;
	}

	&__description h1 {
		@include reset-title;
		@include font($default-font, $size: 14px, $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
	}

	&__description h2 {
		@include reset-title;
		@include font($default-font, $size: 14px, $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
	}

	&__description a {
		color: $theme-color;
		color: var(--hover-text-color, var(--theme-color, $theme-color));
		cursor: pointer;
	}

	&__description strong {
		font-weight: 500;
	}

	&__description img {
		float: left;
		margin: 0 10px 10px 0;
		max-width: 100%;
		height: 75px;

		@supports (object-fit: cover) {
			width: 75px;
			object-fit: cover;
		}
	}

	&__description ul {
		@include reset-list;
		list-style-type: circle;
		padding-left: 15px;
	}

	&__share-button {
		@include button-with-icon;
		margin: 5px 0 0 -5px;
	}

	&__share-button .blokks-icon {
		margin-right: 5px;
	}

	&__favorites {
		margin-top: 20px;
	}

	&__signin-button {
		@include button-with-icon;
		margin-left: -5px;
	}

	&__favorite-button {
		@include button-with-icon;
		margin-left: -5px;
	}

	&__unfavorite-button {
		@include button-with-icon;
		margin-left: -5px;
	}

	&__favorited-by {
		margin-top: 20px;
		max-width: 500px;

		&:before {
			@include font($default-font, $size: rem(14px));
			content: attr(data-title);
			color: $darker-text-color;
			color: var(--darker-text-color, $darker-text-color);
		}
	}

	.blokks-userlist {
		margin: 5px 0 0 -5px;
	}

	.blokks-embeds {
		@include reset-list;
		margin-top: 20px;
	}

	.blokks-links {
		@include horizontal-list($spacing: 10px);
		margin-top: 20px;
	}

	.blokks-link {
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		text-decoration: none;

		&:hover {
			color: $theme-color;
			color: var(--theme-$theme-color, $theme-color);
		}
	}
}
