.blokks-popup {
	padding: 30px;
	width: 100%;
	max-width: 480px;
	background-color: $default-background-color;
	background-color: var(--default-background-color, $default-background-color);

	@include device('mobile') {
		padding: 20px;
	}

	@include device('desktop') {
		padding: 30px;
	}

	&__title {
		@include reset-title;
		@include font($default-font, 24px, $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
		line-height: 1.25;
	}

	&__description {
		@include bodytext;
		margin: 15px 0 0 0;
		max-width: 380px;
	}

	&__footer {
		@include bodytext;
		margin: 15px 0 0 0;
		max-width: 380px;
	}

	&__action-button {
		@include button;
		margin: 20px 0 0 -5px;
	}

	&__close-button {
		@include close-button;
		@include absolute($top: 10px, $right: 10px);
	}
}
