.SigninPopup {
	position: relative;
	padding: 25px 30px;
	width: 100%;
	max-width: cssvar(--popup-width, 480px);
	background-color: cssvar(--popup-background-color, $background-color-100);

	h1 {
		@include reset-title;
	}

	h1 {
		font-size: cssvar(--popup-title-size, 19px);
		font-weight: cssvar(--popup-title-weight, 600);
		color: cssvar((--popup-title-color, ---dark-text-color), $text-color-900);
	}

	p {
		margin: 15px 0 0 0;
		max-width: 380px;
		font-size: cssvar((--popup-description-size, --default-font-size), $default-font-size);
		font-weight: cssvar(--popup-description-weight, 400);
		color: cssvar((--popup-description-color, --dimmed-text-color), $text-color-800);
	}

	.ActionButton {
		margin: 20px 0 0 -5px;
	}

	.CloseButton {
		@include absolute($top: 5px, $right: 5px);
		@include size(36px);
	}
}
