.DashboardActivity {
	@include row($align: center);
	padding: 8px 0;
	font-family: cssvar((--dashboard-activity-font, --default-font), $default-header);
	font-size: cssvar((--dashboard-activity-size, --default-font-size), $default-font-size);
    cursor: pointer;

	--timelabels-text-size: inherit;
	--timelabels-text-color: #{$text-color-300};

	&-Title {
		@include reset-title;
	}

	&-Title {
		font-size: inherit;
		font-weight: cssvar(--dashboard-activity-title-weight, 600);
		color: cssvar((--dashboard-activity-title-color, --light-text-color), $text-color-100);
	}

	&-Location {
		@include reset-title;
	}

	&-Location {
		font-size: inherit;
		color: cssvar((--timelabels-text-color, --dimmed-text-color), $text-color-300);
	}
	
	.CoverImage {
		@include size(55px);
		margin: 2px 15px 0 0;
		border-radius: 50%;
		background-color: cssvar(--placeholder-color, $background-color-800);
		order: -1;
	}
}
