.blokks-buttonbar {
	display: flex;
	flex-direction: row;

	&__option {
		@include reset-button;
		@include font($default-font, $size: rem(17px));
		font-weight: 500;
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		white-space: nowrap;
		border-bottom: 1px solid transparent;
		transition: color 150ms, border 150ms;

		&:not(:last-of-type) {
			margin-right: 15px;
		}

		&:not(&--selected):hover {
			color: $darkest-text-color;
			color: var(--darkest-text-color, $darkest-text-color);
			border-bottom: 1px solid;
			transition: none;
		}
	}

	&__option--selected {
		color: $theme-color;
		color: var(--theme-color, $theme-color);
		border-bottom: 1px solid;
	}
}
