.blokks-categories {
	@include horizontal-list();

	& > li {
		@include font($default-font, $size: rem(13px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		text-transform: capitalize;
		white-space: nowrap;

		margin: 0 2px 2px 0;
		padding: 5px 12px;
		border-radius: 12px;
		background-color: rgba(0, 0, 0, 0.05);
		user-select: none;
	}
}
