.blokks-dropdown {
	@include font($default-font, $size: rem(14px));
	color: $darker-text-color;
	color: var(--darker-text-color, $darker-text-color);
	text-transform: capitalize;

	position: relative;
	display: block;
	min-width: 200px;
	max-width: 280px;
	fill: currentColor;

	&:hover {
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
	}

	select {
		@include reset-dropdown();
		@include size(100%);

		padding: 11px 16px 12px;
		font-size: inherit;
		color: inherit;
		background-color: $lightest-background-color;
		background-color: var(--lightest-background-color, $lightest-background-color);
		border-radius: 20px;
		cursor: pointer;
	}

	.blokks-icon {
		@include absolute($top: 12px, $right: 15px);
		@include size(18px);
	}
}
