.blokks-dropdown {
	@include font($default-font, $size: rem(14px));
	color: $darker-text-color;
	color: var(--darker-text-color, $darker-text-color);
	text-transform: capitalize;

	position: relative;
	display: block;
	min-width: 200px;
	max-width: 320px;
	fill: currentColor;

	&:hover {
		color: $darkest-text-color;
		color: var($darkest-text-color, $darkest-text-color);
	}

	select {
		@include reset-dropdown();
		@include size(100%);

		padding: 10px 12px;
		font-size: inherit;
		color: inherit;
		border: 1px solid $default-stroke-color;
		border: 1px solid var(--default-stroke-color, $default-stroke-color);
		cursor: pointer;

		&:focus {
			outline: 5px auto $theme-color;
			outline: 5px auto var(--theme-color, $theme-color);
		}
	}

	&:hover select {
		border: 1px solid $dark-stroke-color;
		border: 1px solid var(--dark-stroke-color, $dark-stroke-color);
	}

	.blokks-icon {
		@include absolute($top: 13px, $right: 15px);
		width: 14px;
	}
}
