.blokks-footer {
	@include var(background-color, (--footer-background-color, --schedule-background-color), $background-color-100);
	padding: 20px $padding;
	padding: 20px var(--padding, $padding);

	@supports (position: sticky) {
		@include sticky($left: 0);
		@include row($justify: center);
		max-width: 100vw;
	}

	&__blokks-button {
		@include reset-button;
	}

	&__blokks-button {
		@include column($align: center);
	}

	&__powered-by-label {
		@include var(font-size, --branding-size, $default-font-size);
		@include var(font-weight, --branding-weight, 400);
		@include var(color, (--branding-color, --dark-text-color), $text-color-700);
	}

	&__logo {
		@include var(width, --branding-width, 180px);
	}
}
