@include device('mobile') {
	.blokks-header {
		display: flex;
		flex-direction: column;

		.blokks-user-options {
			margin-top: 10px;
			order: 1;
		}

		.blokks-date-selector {
			margin-top: 20px;
			order: 2;
		}

		.blokks-filters {
			margin-top: 30px;
			order: 3;
		}
	}
}
