.blokks-header {
	padding: 0 $padding;
	padding: 0 var(--padding, $padding);

	&__title {
		@include reset-title;
		@include font($default-font, $size: rem(30px), $weight: 700);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
	}
}

@import 'header.mobile';
@import 'header.desktop';

@import 'header/filters';
@import 'header/date-selector';
@import 'header/user-options';
@import 'header/search';
