@include device('mobile') {
	.blokks-header {
		display: flex;
		flex-direction: column;

		&__title {
			margin-bottom: 15px;
			order: 1;
		}

		.blokks-user-options {
			order: 2;
		}

		.blokks-date-selector {
			margin: 15px 0 0 -5px;
			order: 3;
		}

		.blokks-filters {
			margin: 20px 0 0 -5px;
			order: 4;
		}
	}
}
