.Header {
	padding: cssvar(--padding, $padding) cssvar(--padding, $padding) 0;
	background-color: cssvar((--header-background-color, --schedule-background-color), $background-color-100);

	.Filters {
		margin-left: -4px;
	}
}

@import 'Header.mobile';
@import 'Header.desktop';

@import 'header/Filters';
@import 'header/DateSelector';
@import 'header/UserOptions';
@import 'header/Search';
@import 'header/Skeleton';
