@include device('desktop') {
	.blokks-header {
		@include sticky($left: 0);
		max-width: 100vw;

		display: grid;
		grid-template-columns: 1fr min-content min-content;
		grid-template-areas:
			'date-selector user-options search'
			'filter filter filter';

		.blokks-user-options {
			grid-area: user-options;
			margin-left: 20px;
			justify-self: end;
			align-self: center;
		}

		.blokks-search {
			grid-area: search;
			align-self: center;
			margin-left: 20px;
		}

		.blokks-date-selector {
			grid-area: date-selector;
			align-self: center;
		}

		.blokks-filters {
			grid-area: filter;
			margin-top: 30px;
		}
	}
}
