@include device('mobile') {
	.Header {
		@include column;

		@supports (display: grid) {
			display: grid;
			row-gap: 20px;
			column-gap: 20px;
			grid-template-columns: 1fr min-content;
			grid-template-areas:
				'date-selector user-options'
				'filters filters';
		}

		.UserOptions {
			grid-area: user-options;
			align-self: flex-end;
			order: 1;
		}

		.DateSelector {
			grid-area: date-selector;
			order: 2;
		}

		.Filters {
			grid-area: filters;
			order: 3;
		}
	}
}
