.Statusbar {
	display: none;
	margin-bottom: 16px;
	background-color: cssvar(--theme-color, $theme-color);

	> a {
		color: cssvar(--light-text-color, $text-color-100);
		font-weight: 600;
		text-align: center;
		text-decoration: none;
	}
}
