.blokks-statusbar {
	@include var(background-color, --statusbar-background-color, $theme-color);

	&__update-link {
		font-size: 14px;
		font-weight: 500;
		color: $text-color-100;
		text-align: center;
		text-decoration: none;
		line-height: 1.4;
	}
}
