.Timetable {
	@include device('mobile') {
		margin: 8px 0 0;
	}

	@include device('desktop') {
		padding: 0 cssvar(--padding, $padding);
	}

	@include layout('columns') {
		margin: 8px 0 0 0;
	}

	@include layout('rows') {
		margin: 20px 0 0;
	}

	@include layout('list') {
		padding: 0 cssvar(--padding, $padding);
	}
}

@import 'timetable/Activity';
@import 'timetable/Gutter';
@import 'timetable/Location';
@import 'timetable/Skeleton';
@import 'timetable/TimeIndicator';
