.blokks-filters {
	@include horizontal-list();
	display: flex;;
	max-width: 750px;

	.blokks-filter {
		@include reset-button();
	}

	.blokks-filter {
		@include var(font-size, --filter-label-size, 13px);
		@include var(font-weight, --filter-label-weight, 400);
		@include var(color, --filter-label-color, $text-color-800);
		text-transform: capitalize;
		white-space: nowrap;
		line-height: 1;

		margin: 0 4px 4px 0;
		padding: 8px 15px;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 16px;
		user-select: none;

		&:hover {
			@include var(color, --filter-hover-label-color, $text-color-100);
			@include var(background-color, (--filter-hover-background-color, --theme-color), $theme-color);
		}

		&[class*='selected'] {
			@include var(color, --filter-hover-label-color, $text-color-100);
			@include var(background-color, (--filter-hover-background-color, --theme-color), $theme-color);
		}
	}

	.blokks-filter svg {
		@include size(0.9rem);
		vertical-align: -0.15rem;
		margin-right: 4px;
	}
}
