.blokks-search {
	width: 200px;

	@include device('mobile') {
		display: none;
	}

	&__input {
		@include reset-input();
		@include font($default-font, $size: rem(14px));
		color: $dark-text-color;
		color: var(--dark-text-color, $dark-text-color);

		padding: 12px 14px;
		background-color: $lightest-background-color;
		background-color: var(--lightest-background-color, $lightest-background-color);
		outline: none;
		transition: color 200ms, border 150ms;

		&:hover {
			color: $darkest-text-color;
			color: var(--darkest-text-color, $darkest-text-color);
			transition: none;
		}

		&:focus {
			color: $darkest-text-color;
			color: var(--darkest-text-color, $darkest-text-color);
			outline: 5px auto $theme-color;
			outline: 5px auto var(--theme-color, $theme-color);
		}
	}

	&__suggestions {
		@include reset-list;
	}

	&__suggestion {
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);

		padding: 10px 12px;
		background-color: $default-background-color;
		background-color: color($default-background-color, $default-background-color);
		border: 1px solid $default-stroke-color;
		border: 1px solid var(--default-stroke-color, $default-stroke-color);
		border-top: none;

		&:focus {
			outline: 5px auto $theme-color;
			outline: 5px auto var(--theme-color, $theme-color);
			z-index: 1;
		}

		&:hover {
			color: $darkest-text-color;
			color: var(--darkest-text-color, $darkest-text-color);
		}
	}
}
