.blokks-search {
	@include var(font-size, --search-text-size, $default-font-size);
	@include var(font-weight, --search-text-weight, 400);
	@include var(color, --search-text-color, $text-color-700);
	@include var(background-color, --search-background-color, $background-color-200);

	position: relative;
	width: 200px;
	border-radius: 20px;

	&:focus-within,
	&:focus,
	&:hover {
		@include var(color, --search-focus-color, $text-color-900);
	}

	@include device('mobile') {
		display: none;
	}
}

.blokks-search-input {
	input {
		@include reset-input();
	}

	input {
		width: 100%;
		padding: 10px 20px;
		font: inherit;
		color: inherit;	
	}

	input::placeholder {
		color: inherit;
	}


	svg {
		@include absolute($top: 12px, $right: 15px);
		@include size(15px);
	}
}

.blokks-search-suggestions {
	@include reset-list();
}

.blokks-search-suggestions {
	margin-top: 5px;

	li {
		@include var(background-color, --suggestion-background-color, $background-color-100);
		@include var(border-color, --suggestion-border-color, $default-stroke-color);
		font-size: inherit;
		font-weight: inherit;
		color: inherit;

		margin-top: -1px;
		padding: 12px 14px;
		border-style: solid;
		border-width: 1px;
	}

	li:hover,
	li:active {
		@include var(color, (--suggestion-active-color, --theme-color), $theme-color);
	}
}
