.blokks-search {
	@include font($default-font, $size: rem(14px));
	color: $dark-text-color;
	color: var(--dark-text-color, $dark-text-color);

	display: var(--show-search, block);
	position: relative;
	width: 200px;
	background-color: $lightest-background-color;
	background-color: var(--lightest-background-color, $lightest-background-color);
	border-radius: 20px;

	&:focus-within,
	&:focus {
		color: $darkest-text-color;
		color: var(--hover-text-color, var(--darkest-text-color, $darkest-text-color));
	}

	@include device('mobile') {
		display: none;
	}

	&__input {
		@include reset-input();
		@include size(100%);
		padding: 11px 20px 12px;
		font: inherit;
		color: inherit;
	}

	.blokks-icon {
		@include absolute($top: 10px, $right: 15px);
		font-size: rem(22px);
	}

	&__suggestions {
		@include reset-list;
		margin-top: 5px;
	}

	&__suggestion {
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);

		margin-top: -1px;
		padding: 12px 14px;
		background-color: $default-background-color;
		background-color: color($default-background-color, $default-background-color);
		border: 1px solid $default-stroke-color;
		border: 1px solid var(--default-stroke-color, $default-stroke-color);

		@supports (backdrop-filter: blur(4px)) {
			backdrop-filter: blur(4px);
			opacity: 0.97;
		}

		&:hover {
			color: $theme-color;
			color: var(--theme-color, $theme-color);
		}

		&:active {
			outline: 3px auto $theme-color;
			outline: 3px auto var(--outline-color, var(--theme-color, $theme-color));
			z-index: 1;
		}
	}
}
