.blokks-user-options {
	display: flex;
	flex-direction: row;

	.blokks-user-option {
		@include reset-button;
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		white-space: nowrap;

		&:not(:last-of-type) {
			margin-right: 10px;
		}

		&:hover {
			color: $theme-color;
			color: var(--hover-text-color, var(--theme-color, $theme-color));
		}
	}
}

@include device('mobile') {
	.blokks-user-options {
		.blokks-user-option--calendar {
			display: none;
		}
	}
}
