.blokks-user-options {
	@include row();

	.blokks-user-option {
		@include reset-button();
	}

	.blokks-user-option {
		@include var(font-size, --user-option-size, 14px);
		@include var(font-weight, --user-option-weight, 400);
		@include var(color, --user-options-color, $text-color-800);
		white-space: nowrap;
		border-bottom: 1px solid transparent;

		&:not(:last-of-type) {
			margin-right: 10px;
		}

		&:hover {
			@include var(color, (--user-option-hover-color, --theme-color), $theme-color);
			border-bottom: 1px solid;
		}
	}
}

@include device('mobile') {
	.blokks-user-options {
		.blokks-user-option--calendar {
			display: none;
		}
	}
}
