$theme-color: #1a73e8 !default;
$secondary-color: #c83a6f !default;

/* Background colors */
$default-background-color: #fff !default;
$dark-background-color: #1b1b1b !default;
$light-background-color: #eee !default;
$lightest-background-color: rgba(0, 0, 0, 0.05) !default;

/* Text colors */



$dark-text-color: rgba(0, 0, 0, 0.3) !default;
$darker-text-color: rgba(0, 0, 0, 0.5) !default;
$darkest-text-color: rgba(0, 0, 0, 0.8) !default;
$light-text-color: rgba(255, 255, 255, 0.8) !default;
$lightest-text-color: rgb(255, 255, 255) !default;

/* Stroke colors */
$default-stroke-color: #ccc !default;
$light-stroke-color: #eee !default;

/* Alerts */
$info-background-color: #cce5ff !default;
$info-text-color: #004085 !default;
$warning-background-color: #fff3cd !default;
$warning-text-color: #856404 !default;
$danger-background-color: #f8d7da !default;
$danger-text-color: #721c24 !default;

/* Other */
$shadow-color: rgba(0, 0, 0, 0.05) !default;
$placeholder-background-color: #1b1b1b !default;
$empty-image-background-color: #eee !default;
$hover-background-color: rgba(0, 0, 0, 0.02) !default;
$outline-color: $theme-color;
