@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab:wght@500&display=swap');

$default-header: 'Roboto Slab', serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$default-font: 'Inter', sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;

$default-font-size: 13px !default;
$default-line-height: 1.4 !default;
