@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

$default-header: 'IBM Plex Sans', serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$default-font: 'IBM Plex Sans', sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;

$default-font-size: 14px !default;
$default-line-height: 1.4 !default;
