/* Position and size mixins */
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin absolute($args...) {
	@include position(absolute, $args...);
}

@mixin relative($args...) {
	@include position(relative, $args...);
}

@mixin fixed($args...) {
	@include position(fixed, $args...);
}

@mixin sticky($args...) {
	@include position(sticky, $args...);
	backface-visibility: hidden;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

/* Flexbox */
@mixin flex($direction, $justify: null, $align: null) {
	display: flex;

	@if ($direction) {
		flex-direction: $direction;
	}

	@if ($justify) {
		justify-content: $justify;
	}

	@if ($align) {
		align-items: $align;
	}
}

@mixin column($justify: null, $align: null) {
	@include flex(column, $justify, $align);
}

@mixin row($justify: null, $align: null) {
	@include flex(row, $justify, $align);
}

/* Font mixins */
@mixin text-replacement {
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin truncate-tail {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin clamp-line($lines: 2) {
	@supports not (-webkit-line-clamp: $lines) {
		@include truncate-tail();
	}

	@supports (-webkit-line-clamp: $lines) {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $lines;
		overflow: hidden;
	}
}

/* CSS variables */
@function cssvar($variables, $default: null) {
	$result: null;
	@for $index from -1 through -1 * length($variables) {
		$variable: nth($variables, $index);

		@if ($result) {
			$result: var($variable, $result);
		} @else if ($default) {
			$result: var($variable, $default);
		} @else {
			$result: var($variable);
		}
	}

	@return $result;
}

@mixin var($property, $variables, $default: null) {
	@if ($legacy and $default) {
		#{$property}: $default;
	}

	#{$property}: cssvar($variables, $default);
}

/* Reset mixins */
@mixin reset-title($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;

	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: normal;
}

@mixin reset-button($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;

	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	cursor: pointer;
}

@mixin reset-list($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;
	list-style-type: none;
}

@mixin reset-dropdown {
	appearance: none;
	border: none;
	border-radius: 0;
	outline: none;
	background-color: transparent;
	box-shadow: none;

	&::-ms-expand {
		display: none;
	}
}

@mixin reset-input {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	box-shadow: none;
}
