$padding: 10px !default;
$maximmum-number-of-lines: 2 !default;

/* Column layout cars */
$location-width: 250px !default;
$timeslot-height: 150px !default;
$gutter-width: 60px !default;

/* Row layout variables */
$location-height: 140px !default;
$timeslot-width: 175px !default;
$gutter-height: 30px !default;
