$padding: 10px !default;
$cellspacing: 15px !default;

/* Column layout cars */
$location-width: 270px !default;
$activity-width: $location-width - $cellspacing * 2;
$timeslot-height: 150px !default;
$gutter-width: 60px !default;

/* Row layout variables */
$location-height: 140px !default;
$activity-height: $location-height - $cellspacing * 2;
$timeslot-width: 175px !default;
$gutter-height: 30px !default;
