/* Text styles */
@mixin bodytext {
	@include font($default-font, $size: rem(15px));
	color: $darker-text-color;
	color: var(--darker-text-color, $darker-text-color);
	line-height: 1.5;

	* {
		font-family: inherit;
		color: inherit;
	}

	h1 {
		@include reset-title;
		@include font($default-font, $size: 17px, $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
	}

	h2 {
		@include reset-title;
		@include font($default-font, $size: 15px, $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
	}

	a {
		color: $hover-text-color;
		color: var(--hover-text-color, $hover-text-color);
		cursor: pointer;

		&:hover {
			border-bottom: 1px solid;
		}
	}

	strong {
		font-weight: 500;
	}
}

/* UI styles */
@mixin button {
	@include reset-button;
	@include font($default-font, $size: rem(15px));
	color: $lightest-text-color;
	color: var(--lightest-text-color, $lightest-text-color);

	padding: 10px 20px 12px;
	border-radius: 20px;
	background-color: $theme-color;
	background-color: var(--theme-color, $theme-color);
}

@mixin button-with-icon($icon-margin: 8px, $hide-label: false) {
	@include button;
	display: inline-flex;
	flex-direction: row;
	align-items: center;

	.blokks-label {
		text-align: left;
	}

	.blokks-icon {
		@include size(18px);
		margin-right: $icon-margin;
	}
}

@mixin close-button {
	@include reset-button;
	@include size(34px);
	color: $darker-text-color;
	color: var(--darker-text-color, $darker-text-color);

	.blokks-label {
		display: none;
	}

	.blokks-icon {
		@include size(18px);
	}
}

@mixin horizontal-list($spacing: null) {
	@include reset-list;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	@if ($spacing) {
		& > li {
			margin-right: $spacing;
		}
	}
}

@mixin vertical-list {
	@include reset-list;
	display: flex;
	flex-direction: column;
}
