.Modal {
	@include antialiased;
	font-family: cssvar(--schedule-font, $default-font);
	background-color: cssvar(--modal-overlay-color, $background-color-800);
	text-rendering: optimizeLegibility;
	line-height: 1.4;

	::-moz-selection {
		background-color: cssvar((--selection-background-color, --theme-color), $theme-color);
		color: cssvar((--selection-text-color, --text-color-100), $text-color-100);
	}

	::selection {
		background-color: cssvar((--selection-background-color, --theme-color), $theme-color);
		color: cssvar((--selection-text-color, --text-color-100), $text-color-100);
	}
}

@import 'modals/ActivityDetails';
@import 'modals/Popup';
