.blokks-schedule {
	@include var(font-family, --schedule-font, $default-font);
	@include antialiased();
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	position: relative;
	z-index: 1;
}

.blokks-schedule ::-moz-selection {
	@include var(background-color, --selection-background-color, $theme-color);
	@include var(color, --selection-text-color, $text-color-100);
}

.blokks-schedule ::selection {
	@include var(background-color, --selection-background-color, $theme-color);
	@include var(color, --selection-text-color, $text-color-100);
}

@include layout('list') {
	.blokks-schedule {
		max-width: 960px;
	}
}

@import 'schedule/header';
@import 'schedule/timetable';
@import 'schedule/footer';
@import 'schedule/statusbar';
