.blokks-schedule {
	position: relative;
	z-index: 1;

	font-size: $base-font-size;
	font-size: var(--base-font-size, $base-font-size);

	background-color: $default-background-color;
	background-color: var(--default-background-color, $default-background-color);
}

@include layout('list') {
	.blokks-schedule {
		max-width: 960px;
	}
}

@import 'schedule/header';
@import 'schedule/dashboards';
@import 'schedule/timetable';
@import 'schedule/footer';
@import 'schedule/statusbar';
