.Schedule {
	@include antialiased;
	position: relative;
	font-family: cssvar(--schedule-font, $default-font);
	line-height: cssvar(--schedule-line-height, $default-line-height);

	// FIXME: Edge 15 bugs when using cssvars in selection https://codepen.io/fvsch/pen/GEejBo
	// Therefor it's hardcoded and cannot be themed
	::-moz-selection {
		background-color: #abb1bc;
		color: #fff;
		text-shadow: none;
	}

	::selection {
		background-color: #abb1bc;
		color: #fff;
		text-shadow: none;
	}
}

@include layout('list') {
	.Schedule {
		max-width: 960px;
	}
}

@import 'schedule/Header';
@import 'schedule/Timetable';
@import 'schedule/Footer';
@import 'schedule/Statusbar';
