@include layout('columns', 'rows') {
	.blokks-activity {
		padding: 12px 15px;
		background-color: $dark-background-color;
		background-color: var(--dark-background-color, $dark-background-color);
		outline: none;

		&--favorited {
			background-color: $theme-color;
			background-color: var(--theme-color, $theme-color);
		}

		&--dimmed {
			background-color: $light-background-color;
			background-color: var(--light-background-color, $light-background-color);
		}

		&--selected,
		&:not(&--disabled):hover,
		&:not(&--disabled):focus {
			outline: 3px auto $theme-color;
			outline: 3px auto var(--theme-color, $theme-color);
		}

		@include layout('columns') {
			width: 100%;
			height: calc(100% - 2px);
		}

		@include layout('rows') {
			width: calc(100% - 2px);
			height: 100%;
		}

		&__header {
			display: flex;
			flex-direction: column;
			z-index: 2;
		}

		&__titles {
			order: 1;
		}

		&__title {
			color: $lightest-text-color;
			color: var(--lightest-text-color, $lightest-text-color);
		}

		&--ended &__title {
			opacity: 0.5;
		}

		&__subtitle {
			color: $light-text-color;
			color: var(--light-text-color, $light-text-color);
		}

		&--ended &__subtitle {
			opacity: 0.5;
		}

		.blokks-icon {
			@include relative($top: 1px);
		}

		.blokks-time-labels {
			color: $light-text-color;
			color: var(--light-text-color, $light-text-color);
			z-index: 1;
			order: 1;
		}

		&--ended .blokks-time-labels {
			opacity: 0.5;
		}

		.blokks-categories {
			display: none;
		}

		.blokks-poster {
			@include absolute($top: 0, $left: 0);
			@include size(100%);
			filter: grayscale(0%);
			opacity: $poster-opacity;
			opacity: var(--poster-opacity, $poster-opacity);
			z-index: -1;
			transition: all 300ms;
		}

		&--favorited .blokks-poster {
			opacity: 0.2;
		}

		&--dimmed .blokks-poster {
			opacity: 0.2;
			filter: grayscale(50%);
		}

		&--ended .blokks-poster {
			opacity: 0.2;
			filter: grayscale(100%);
		}
	}
}
