@include layout('list') {
	.Activity {
		@include row;
		padding: 28px 28px 28px 0;
		opacity: cssvar(--activity-opacity, 1.0);
		border-bottom-color: cssvar(--activity-border-color, $default-stroke-color);
		border-bottom-width: cssvar(--border-width, $border-width);
		border-bottom-style: solid;
		transition: opacity 250ms;
		
		--timelabels-text-size: 14px;

		@supports (display: contents) {
			background-size: $border-width auto;
			background-size: #{cssvar(--border-width, $border-width)} auto;

			display: grid;
			grid-template-rows: 1fr min-content;
			grid-template-columns: 128px min-content auto;
			grid-template-areas:
				'time-labels poster titles'
				'time-labels poster categories';

			background-position: 128px;
			background-repeat: no-repeat;
			background-image: linear-gradient(
				180deg,
				$default-stroke-color,
				$default-stroke-color,
				$default-stroke-color
			);
		}

		&--favorited {
			--activity-title-color: #{cssvar((--activity-favorited-color, --theme-color), $theme-color)};
		}

		&--ended,
		&--muted {
			--activity-opacity: 0.4;
		}

		&-Header {
			@include column;
			margin-left: 28px;
			order: 2;

			@supports (display: contents) {
				display: contents;
			}
		}

		&-Titles {
			@include column($justify: center);
			margin: 0 0 0 28px;
			order: 2;

			@supports (display: contents) {
				grid-area: titles;
				max-width: 740px;
			}
		}

		&-Title {
			color: cssvar((--activity-title-color, --dark-text-color), $text-color-900);
			transition: color 250ms;
		}

		&-Subtitle {
			color: cssvar((--activity-subtitle-color, --dimmed-text-color), $text-color-800);
		}

		.Timelabels {
			order: 1;
			text-align: center;

			@supports (display: contents) {
				grid-area: time-labels;
				justify-self: center;
				align-self: center;
			}
		}

		.Categories {
			margin: 0 0 0 20px;
			order: 3;

			@supports (display: contents) {
				grid-area: categories;
			}
		}

		.CoverImage {
			@include size(70px);
			margin-left: 24px;
			align-self: center;
			background-color: cssvar(--placeholder-color, $background-color-800);
			border-radius: 50%;
			order: 1;

			@supports (display: contents) {
				grid-area: poster;
			}
		}

		&--ended .CoverImage,
		&--muted .CoverImage {
			filter: grayscale(100%);
		}
	}
}
