@include layout('columns', 'rows') {
	.blokks-activity {
		padding: 12px 15px;
		background-color: $dark-background-color;
		background-color: var(--dark-background-color, $dark-background-color);
		outline: none;

		&--favorited {
			background-color: $theme-color;
			background-color: var(--theme-color, $theme-color);
		}

		&--dimmed {
			background-color: #ddd;
		}

		&--selected,
		&:not(&--disabled):focus {
			outline: 5px auto $theme-color;
			outline: 5px auto var(--theme-color, $theme-color);
		}

		@include layout('columns') {
			width: 100%;
			height: calc(100% - 2px);
		}

		@include layout('rows') {
			width: calc(100% - 2px);
			height: 100%;
		}

		&__header {
			z-index: 1;
		}

		&__title {
			color: $lightest-text-color;
			color: var(--lightest-text-color, $lightest-text-color);
		}

		&__subtitle {
			color: $light-text-color;
			color: var(--light-text-color, $light-text-color);
		}

		.blokks-icon {
			@include relative($top: 1px);
		}

		.blokks-time-labels {
			margin-top: 2px;
			color: $light-text-color;
			color: var(--light-text-color, $light-text-color);
			z-index: 1;
		}

		.blokks-categories {
			display: none;
		}

		.blokks-poster {
			@include absolute($top: 0, $left: 0);
			@include size(100%);
			opacity: $poster-opacity;
			opacity: var(--poster-opacity, $poster-opacity);
			z-index: -1;
			transition: opacity 300ms;
		}

		&--favorited .blokks-poster {
			opacity: 0.3;
		}

		&--dimmed .blokks-poster {
			opacity: 0.3;
			filter: grayscale(75%);
		}
	}
}
