@include device('mobile') {
	.Activity {
		@include row;
		padding: 15px 0;
		transition: opacity 250ms;

		&--muted {
			opacity: 0.4;
		}

		&--favorited {
			--timelabels-text-color: #{cssvar((--activity-favorited-color, --accent-color), $accent-color)};
			--activity-title-color: #{cssvar((--activity-favorited-color, --accent-color), $accent-color)};
		}

		&-Header {
			@include column;
			order: 1;
		}

		&-Titles {
			order: 2;
		}

		&-Title {
			color: cssvar((--activity-title-color, --dark-text-color), $text-color-900);
			transition: color 250ms;
		}

		&-Subtitle {
			color: cssvar((--activity-subtitle-color, --dimmed-text-color), $text-color-800);
			transition: color 250ms;
		}

		.Timelabels {
			order: 1;
		}

		.Categories {
			margin: 5px 0 0 -5px;
			order: 3;
		}

		.CoverImage {
			@include size(55px);
			margin: 2px 15px 0 0;
			border-radius: 50%;
			background-color: cssvar(--placeholder-color, $background-color-800);
			transition: opacity 250ms;
			order: 0;
		}

		&--muted .CoverImage {
			filter: grayscale(100%);
		}

		&:not(&--hasPoster):before {
			@include size(55px);
			flex: none;
			margin-right: 10px;
			border-radius: 50%;
			background-color: cssvar(--empty-image-background-color, $background-color-300);
			content: '';
			order: 0;
		}
	}
}
