@include layout('columns', 'rows') {
	.Activity {
		@include column($justify: space-between);
		outline: none;
		transition: background 250ms;
		background-color: cssvar(--activity-background-color, $background-color-900);

		--categories-display: none;
		--categories-background-color: #{$background-color-400};
		--categories-text-color: #{$text-color-200};
		--timelabels-text-color: #{cssvar(--dimmed-light-text-color, $text-color-200)};

		&--favorited {
			--activity-background-color: #{cssvar(--theme-color, $theme-color)};
			--activity-poster-opacity: 0.3;
		}

		&--muted {
			--activity-background-color: #{$background-color-300};
			--activity-poster-opacity: 0.3;
		}

		&--ended {
			--activity-background-color: #{$background-color-300};
			--activity-poster-opacity: 0.3;
		}

		&--selected {
			outline: 2px solid #{cssvar((--activity-outline-color, --theme-color), $theme-color)};
		}

		&-Header {
			@include column($align: flex-start, $justify: space-between);
			height: 100%;
			transition: opacity 250ms;
		}

		&--muted &-Header {
			opacity: 0.5;
		}

		&--ended &-Header {
			opacity: 0.5;
		}

		&-Title {
			@include clamp-line(cssvar(--activity-title-clamp, 2));
			color: cssvar((--activity-title-color, --light-text-color), $text-color-100);
		}

		// &-Title > span {
		// 	@include var(background-color, --activity-text-background-color, $background-color-600);
		// 	box-decoration-break: clone;
		// 	padding: 1px 5px 2px;
		// }

		&-Subtitle {
			@include clamp-line(cssvar(--activity-subtitle-clamp, 2));
			color: cssvar((--activity-subtitle-color, --dimmed-light-text-color), $text-color-200);
		}

		// &-Subtitle > span {
		// 	@include var(background-color, --activity-text-background-color, $background-color-600);
		// 	box-decoration-break: clone;
		// 	padding: 1px 5px 1px;
		// }

		.Categories {
			margin: 4px 0 0 -5px;
		}

		.CoverImage {
			@include absolute($top: 0, $left: 0, $bottom: 0, $right: 0);
			opacity: var(--activity-poster-opacity, 0.5);
			z-index: -1;
			transition: background 250ms, opacity 250ms, filter 250ms;
		}

		&--favorited .CoverImage {
			filter: grayscale(100%);
		}

		&--muted .CoverImage {
			filter: grayscale(100%);
		}

		&--ended .CoverImage {
			filter: grayscale(100%);
		}
	}
}

@include layout('columns') {
	.Activity {
		padding: 12px 14px;
		width: cssvar(--activity-width, $activity-width);
		height: calc(100% - 2px);

		--timelabels-display: none;
	}
}

@include layout('rows') {
	.Activity {
		padding: 10px 12px;
		width: calc(100% - 2px);
		height: cssvar(--activity-height, $activity-height);
	}
}
