@include device('mobile') {
	.blokks-activity {
		@include row();
		padding: 15px 0;
		transition: opacity 150ms linear;

		&--ended,
		&--dimmed {
			opacity: 0.2;
		}

		&__header {
			@include column();
			order: 1;
		}

		&__titles {
			order: 1;
		}

		&__title {
			@include var(color, --activity-title-color, $text-color-900);
			transition: color 150ms linear;
		}

		&__subtitle {
			@include var(color, --activity-subtitle-color, $text-color-800);
			transition: color 150ms linear;
		}

		&--favorited &__title {
			@include var(color, --activity-favorited-color, $theme-color);
		}

		&--selected &__title {
			@include var(color, (--activity-selected-color, --theme-color), $theme-color);
		}

		&--selected &__subtitle {
			@include var(color, (--activity-selected-color, --theme-color), $theme-color);
		}

		.blokks-time-labels {
			@include var(color, --activity-timelabels-color, $text-color-800);
			order: 2;
		}

		.blokks-categories {
			margin: 5px 0 0 -5px;
			order: 3;
		}

		.blokks-poster {
			@include size(55px);
			@include var(background-color, --placeholder-color, $background-color-900);
			margin: 2px 15px 0 0;
			border-radius: 50%;
			transition: opacity 150ms linear;
			order: 0;
		}

		&--ended .blokks-poster,
		&--dimmed .blokks-poster {
			filter: grayscale(100%);
		}

		&:not(&--has-poster):before {
			@include size(55px);
			@include var(background-color, --empty-image-background-color, $empty-image-background-color);
			margin-right: 10px;
			content: '';
			order: 0;
		}
	}
}
