.blokks-activity {
	display: flex;
	flex-direction: column;
	outline: none;
	transition: background 300ms;

	&__title {
		@include reset-title;
		@include font($default-font, $size: rem(14px), $weight: 500);
		line-height: 1.4;
		@supports not (-webkit-line-clamp: 2) {
			@include truncate-tail();
		}

		@supports (-webkit-line-clamp: 2) {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: var(--maximum-number-lines, $maximmum-number-of-lines);
			overflow: hidden;
		}
	}

	&__title .blokks-label {
		display: inline-block;
		vertical-align: middle;
	}

	&__title .blokks-icon {
		@include size(18px);
	}

	&__title .blokks-icon:last-of-type {
		margin-right: 5px;
	}

	&--canceled &__title {
		text-decoration: line-through;
	}

	&__subtitle {
		@include reset-title;
		@include font($default-font, $size: rem(14px));
		line-height: 1.4;

		@supports not (-webkit-line-clamp: 2) {
			@include truncate-tail();
		}

		@supports (-webkit-line-clamp: 2) {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: var(--maximum-number-lines, $maximmum-number-of-lines);
			overflow: hidden;
		}
	}

	&--canceled &__subtitle {
		text-decoration: line-through;
	}

	.blokks-time-labels {
		@include font($default-font, $size: rem(14px));
		@include truncate-tail();
		line-height: 1.4;
	}

	&--canceled .blokks-time-labels {
		text-decoration: line-through;
	}

	.blokks-poster {
		flex: none;
	}
}

@import 'activity.mobile';
@import 'activity.columns-rows';
@import 'activity.list';
