@include layout('columns', 'rows') {
	.blokks-activity {
		@include var(background-color, --activity-background-color, $background-color-900);
		outline: none;
		transition: background 150ms linear;

		@include layout('columns') {
			@include var(width, --activity-width, $activity-width);
			padding: 15px;
			height: calc(100% - 2px);
		}

		@include layout('rows') {
			@include var(height, --activity-height, $activity-height);
			padding: 10px 12px;
			width: calc(100% - 2px);
		}

		&--favorited {
			@include var(background-color, (--activity-favorited-color, --theme-color), $theme-color);
		}

		&--dimmed {
			@include var(background-color, --activity-dimmed-color, $background-color-200);
		}

		&--selected,
		&:not(&--disabled):active {
			outline: 3px auto $theme-color;
			outline: 3px auto v((--activity-selected-color, --theme-color), $theme-color);
		}

		&__header {
			@include column($align: flex-start);
			height: 100%;
		}

		&--dimmed &__header {
			opacity: 0.3;
		}

		&__title {
			@include var(color, --activity-title-color, $text-color-100);
		}

		&__title span {
			// @include var(background-color, --activity-padded-text-color, $background-color-700);
			// box-decoration-break: clone;
			// padding: 1px 5px 2px;
		}

		&__subtitle {
			@include var(color, --activity-subtitle-color, $text-color-200);
		}

		&__subtitle span {
			// @include var(background-color, --activity-padded-text-color, $background-color-700);
			// box-decoration-break: clone;
			// padding: 1px 5px 2px;
		}

		.blokks-time-labels {
			@include var(color, --activity-timelabels-color, $text-color-200);
			// @include var(background-color, --activity-padded-text-color, $background-color-700);
			// padding: 1px 5px 1px;
			order: -1;
			display: none;
		}

		.blokks-categories {
			@include layout('rows') {
				margin: auto 0 0 -5px;
			}

			@include layout('columns') {
				margin: 5px 0 0 -3px;
			}

			&__category {
				background-color: $background-color-300;
				color: $text-color-200;
			}
		}

		.blokks-poster {
			@include var(opacity, --activity-poster-opacity, 0.7);
			@include absolute($top: 0, $left: 0);
			@include size(100%);
			z-index: -1;
			transition: all 150ms linear;
		}

		&--favorited .blokks-poster {
			opacity: 0.3;
			filter: grayscale(100%);
		}

		&--dimmed .blokks-poster {
			opacity: 0.3;
			filter: grayscale(100%);
		}
	}
}
