@include layout('list') {
	.blokks-activity {
		@include row();
		@include var(border-bottom-color, --activity-border-color, $default-stroke-color);
		@include var(border-bottom-width, --border-width, $border-width);
		padding: 30px 30px 30px 0;
		border-bottom-style: solid;
		transition: opacity 150ms linear;

		@supports (display: contents) {
			background-size: $border-width auto;
			background-size: var(--border-width, #{$border-width}) auto;

			display: grid;
			grid-template-rows: 1fr min-content;
			grid-template-columns: 120px min-content auto;
			grid-template-areas:
				'time-labels poster titles'
				'time-labels poster categories';

			background-position: 120px;
			background-repeat: no-repeat;
			background-image: linear-gradient(
				180deg,
				$default-stroke-color,
				$default-stroke-color,
				$default-stroke-color
			);
		}

		&--ended,
		&--dimmed {
			opacity: 0.2;
		}

		&__header {
			@include column();
			margin-left: 25px;
			order: 2;

			@supports (display: contents) {
				display: contents;
			}
		}

		&__titles {
			margin: 5px 0 0 25px;
			order: 2;

			@supports (display: contents) {
				grid-area: titles;
				max-width: 500px;
			}
		}

		&__title {
			@include var(color, --activity-title-color, $text-color-900);
			transition: color 150ms linear;
		}

		&--favorited &__title {
			@include var(color, (--activity-favorited-color, --theme-color), $theme-color);
		}

		&__subtitle {
			@include var(color, --activity-subtitle-color, $text-color-800);
		}

		.blokks-time-labels {
			@include var(color, --activity-timelabels-color, $text-color-800);
			order: 1;

			@supports (display: contents) {
				font-size: 14px;
				grid-area: time-labels;
				justify-self: center;
				align-self: center;
			}
		}

		&--now-playing .blokks-time-labels__ends-at {
			display: none;
		}

		&--coming-soon .blokks-time-labels__ends-at {
			display: none;
		}

		.blokks-categories {
			margin: 5px 0 0 20px;
			order: 3;

			@supports (display: contents) {
				grid-area: categories;
			}
		}

		.blokks-poster {
			@include size(70px);
			margin-left: 25px;
			border-radius: 50%;
			align-self: center;
			order: 1;

			@supports (display: contents) {
				grid-area: poster;
			}
		}

		.blokks-poster {
			@include var(background-color, --placeholder-background-color, $background-color-900);
		}

		&--dimmed .blokks-poster {
			filter: grayscale(100%);
		}
	}
}
