.Activity {
	display: flex;
	flex-direction: column;
	outline: none;

	&--canceled &-Title {
		text-decoration: line-through;
	}

	&--canceled &-Subtitle {
		text-decoration: line-through;
	}

	&--canceled .Timelabels {
		text-decoration: line-through;
	}

	&-Title {
		@include reset-title;
	}

	&-Title {
		@include clamp-line($lines: 2);
		font-size: cssvar((--activity-title-size, --default-font-size), $default-font-size);
		font-weight: cssvar(--activity-title-weight, 600);
	}

	&-Title > .Icon {
		@include size(1em);
		margin-right: 4px;
		vertical-align: -0.15rem;
	}

	&-Subtitle {
		@include reset-title;
	}

	&-Subtitle {
		// @include clamp-line($lines: 2);
		display: cssvar(--activity-subtitle, block);
		font-size: cssvar((--activity-subtitle-size, --default-font-size), $default-font-size);
		font-weight: cssvar(--activity-subtitle-weight, 400);
	}

	.Timelabels {
		display: cssvar(--activity-timetables, none);
	}

	.CoverImage {
		flex: none;
	}
}

@import 'Activity.mobile';
@import 'Activity.desktop';
@import 'Activity.list';
