@include device('mobile') {
	.blokks-activity {
		display: flex;
		flex-direction: row;
		margin-top: 15px;
		transition: opacity 300ms;

		&--dimmed {
			opacity: 0.3;
		}

		&__header {
			display: flex;
			flex-direction: column;
			margin-left: 15px;
			order: 1;
		}

		&__titles {
			order: 1;
		}

		&__title {
			color: $darkest-text-color;
			color: var(--darkest-text-color, $darkest-text-color);
			transition: color 300ms;
		}

		&__subtitle {
			transition: color 300ms;
		}

		&--favorited &__title {
			color: $theme-color;
			color: var(--theme-color, $theme-color);
		}

		&__subtitle,
		.blokks-time-labels {
			color: $darker-text-color;
			color: var(--darker-text-color, $darker-text-color);
		}

		.blokks-time-labels {
			order: 1;
		}

		.blokks-categories {
			margin: 8px 0 0 -5px;
			order: 3;
		}

		&--selected &__title,
		&--selected &__subtitle {
			color: $theme-color;
			color: var(--theme-color, $theme-color);
		}

		.blokks-poster {
			@include size(55px);
			margin-top: 2px;
			border-radius: 50%;

			background-color: $placeholder-background-color;
			background-color: var(--placeholder-background-color, $placeholder-background-color);
			transition: opacity 300ms;
		}

		&--dimmed .blokks-poster {
			filter: grayscale(75%);
			opacity: 0.5;
			order: 1;
		}

		&:not(&--has-poster):before {
			@include size(55px);
			margin-right: 10px;
			content: '';
			background-color: $empty-image-background-color;
			background-color: var(--empty-image-background-color, $empty-image-background-color);
			order: 1;
		}
	}
}
