.Gutter {
	font-size: cssvar(--gutter-text-size, 12px);
	font-weight: cssvar(--gutter-text-weight, 400);
	color: cssvar(--gutter-text-color, $text-color-700);
	background-color: cssvar(--gutter-background-color, $background-color-100);

	&:before {
		display: block;
		flex-grow: 1;
		background-color: inherit;
		content: '';
		z-index: 5;
	}

	.Timeslots {
		@include reset-list;
	}

	.Timeslots > li {
		padding: 5px;
	}
}

@import 'Gutter.columns';
@import 'Gutter.rows';
