.blokks-gutter {
	@include var(font-size, --gutter-text-size, 12px);
	@include var(font-weight, --gutter-text-weight, 400);
	@include var(color, --gutter-text-color, $text-color-700);
	@include var(background-color, --gutter-background-color, $background-color-100);

	&:before {
		display: block;
		flex-grow: 1;
		background-color: inherit;
		content: '';
		z-index: 5;
	}

	&__timeslots {
		@include reset-list();
	}

	&__timeslot {
		padding: 5px;
	}
}

@import 'gutter.columns';
@import 'gutter.rows';
