@include is-columns {
	.blokks-gutter {
		width: $gutter-width;

		&:before {
			@include sticky($top: 0);
			border-bottom: 1px solid $light-stroke-color;
			box-shadow: 0 4px 4px -3px $shadow-color;
		}

		&__timeslots {
			margin-top: -1px;
			background: bg-rows($stroke-color: $light-stroke-color, $row-height: $timeslot-height);
		}

		&__timeslot {
			height: $timeslot-height;
		}
	}
}
