@include layout('rows') {
	.Gutter {
		height: cssvar(--gutter-height, $gutter-height);

		&:before {
			@include sticky($left: 0);
			border-right-color: cssvar(--stroke-color, $default-stroke-color);
			border-right-width: cssvar(--border-width, $border-width);
			border-right-style: solid;
		}

		.Timeslots {
			margin-left: calc(-1 * #{cssvar(--border-width, $border-width)});
			background-image: bg-columns(
				$column-width: var(--timeslot-width, $timeslot-width),
				$border-width: var(--border-width, $border-width),
				$stroke-color: var(--stroke-color, $default-stroke-color)
			);
		}

		.Timeslots > li {
			width: cssvar(--timeslot-width, $timeslot-width);
		}
	}
}
