@include layout('rows') {
	.blokks-gutter {
		@include var(height, --gutter-height, $gutter-height);

		&:before {
			@include var(border-right-color, --stroke-color, $default-stroke-color);
			@include var(border-right-width, --border-width, $border-width);
			@include sticky($left: 0);
			border-right-style: solid;
		}

		&__timeslots {
			background: bg-columns(
				$column-width: var(--timeslot-width, $timeslot-width),
				$border-width: var(--border-width, $border-width),
				$stroke-color: var(--stroke-color, $default-stroke-color)
			);
		}

		&__timeslot {
			@include var(width, --timeslot-width, $timeslot-width);
		}
	}
}
