@include layout('columns') {
	.Gutter {
		width: cssvar(--gutter-width, $gutter-width);

		&:before {
			@include sticky($top: 0);
			border-bottom-color: cssvar(--border-color, $default-stroke-color);
			border-bottom-width: cssvar(--border-width, $border-width);
			border-bottom-style: solid;
		}

		.Timeslots {
			margin-top: calc(-1 * #{cssvar(--border-width, $border-width)});
			background-image: bg-rows(
				$row-height: cssvar(--timeslot-height, $timeslot-height),
				$border-width: cssvar(--border-width, $border-width),
				$stroke-color: cssvar(--stroke-color, $default-stroke-color)
			);
		}

		.Timeslots > li {
			height: cssvar(--timeslot-height, $timeslot-height);
		}
	}
}
