.blokks-location {
	&__header {
		flex-grow: 1;
		background-color: $default-background-color;
		background-color: var(--default-background-color, $default-background-color);

		@supports (backdrop-filter: blur(4px)) {
			backdrop-filter: blur(4px);
			opacity: 0.97;
		}
	}

	&__title {
		@include reset-title;
		@include font($default-font, $size: rem(14px), $weight: 500);
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
		line-height: 1.4;
	}

	&--packed &__title:before,
	&--crowded &__title:before,
	&--full &__title:before {
		@include font($icon-font);
		font-size: 1rem;
		line-height: 1;
		white-space: nowrap;
		word-wrap: normal;
		font-feature-settings: 'liga';

		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 5px;
		content: 'error';
	}

	&--crowded &__title:before {
		color: $info-text-color;
		color: var(--info-text-color, $info-text-color);
	}

	&--packed &__title:before {
		color: $warning-text-color;
		color: var(--warning-text-color, $warning-text-color);
	}

	&--full &__title:before {
		color: $danger-text-color;
		color: var(--danger-text-color, $danger-text-color);
	}

	&__subtitle {
		@include reset-title;
		@include font($default-font, $size: rem(14px));
		color: $darker-text-color;
		color: var(--darker-text-color, $darker-text-color);
		line-height: 1.4;
	}

	&__timeslots {
		@include reset-list;
	}
}

@import 'location.mobile';
@import 'location.columns';
@import 'location.rows';
@import 'location.list';
