.blokks-location {
	@include var(background-color, (--location-background-color, --schedule-background-color), $background-color-100);

	&__header {
		flex-grow: 1;
		background-color: inherit;
	}

	&__title {
		@include reset-title();
	}

	&__title {
		@include var(font-size, --location-title-size, $default-font-size);
		@include var(font-weight, --location-title-weight, 600);
		@include var(color, --location-title-color, $text-color-900);
	}

	&__subtitle {
		@include reset-title();
	}

	&__subtitle {
		@include var(font-size, --location-subtitle-size, $default-font-size);
		@include var(font-weight, --location-subtitle-weight, 400);
		@include var(color, --location-subtitle-color, $text-color-800);
	}

	&--packed &__title:before,
	&--crowded &__title:before,
	&--full &__title:before {
		font-size: 1rem;
		line-height: 1;
		white-space: nowrap;
		word-wrap: normal;
		font-feature-settings: 'liga';

		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 5px;
		content: 'error';
	}

	&--crowded &__title:before {
		@include var(color, --info-text-color, $info-color-300);
	}

	&--packed &__title:before {
		@include var(color, --warning-text-color, $warning-color-300);
	}

	&--full &__title:before {
		@include var(color, --danger-text-color, $danger-color-300);
	}

	&__timeslots {
		@include reset-list;
	}
}

@import 'location.mobile';
@import 'location.columns';
@import 'location.rows';
@import 'location.list';
