@include device('mobile') {
	.blokks-location {
		&__header {
			@include var(border-bottom-width, --border-width, $border-width);
			@include var(border-bottom-color, --stroke-color, $default-stroke-color);
			border-bottom-style: solid;
			padding: 10px 0;
		}

		&__titles {
			text-align: center;
		}

		&__timeslots:after {
			display: block;
			content: '';
			height: 15px;
		}
	}
}
