@include layout('columns') {
	.blokks-location {
		min-width: $location-width;
		min-width: var(--location-width, $location-width);

		&__header {
			padding: 15px 0;
			border-bottom: 1px solid $light-stroke-color;
			border-bottom: 1px solid var(--light-stroke-color, $light-stroke-color);
		}

		&__titles {
			text-align: center;
		}

		&__timeslots {
			margin-top: -1px;
			padding: 0 10px;
			background: bg-rows(
				$stroke-color: var(--light-stroke-color, $light-stroke-color),
				$row-height: var(--timeslot-height, $timeslot-height)
			);
		}

		&__timeslot {
			height: $timeslot-height;
			height: var(--timeslot-height, $timeslot-height);
		}
	}
}
