@include layout('rows') {
	.Location {
		min-height: cssvar(--location-height, $location-height);

		&-Header {
			@include row($align: center);
			padding: 0 8px;
			border-right-width: cssvar(--border-width, $border-width);
			border-right-color: cssvar(--stroke-color, $default-stroke-color);
			border-right-style: solid;
		}

		&-Title {
			white-space: nowrap;
		}

		&-Subtitle {
			white-space: nowrap;
		}

		.Timeslots {
			margin-left: calc(-1 * #{cssvar(--border-width, $border-width)});
			padding-top: cssvar(--cellspacing, $cellspacing);
			padding-bottom: cssvar(--cellspacing, $cellspacing);

			background: bg-columns(
				$column-width: cssvar(--timeslot-width, $timeslot-width),
				$border-width: cssvar(--border-width, $border-width),
				$stroke-color: cssvar(--stroke-color, $default-stroke-color)
			);
		}

		.Timeslots > li {
			width: cssvar(--timeslot-width, $timeslot-width);
		}
	}
}
