.Location {
	background-color: cssvar(
		(--location-background-color, --schedule-background-color),
		$background-color-100
	);

	&--crowded,
	&--packed {
		--location-title-color: #{$warning-color-200};
		--location-subtitle-color: #{$warning-color-200};
	}

	&--full {
		--location-title-color: #{$danger-color-200};
		--location-subtitle-color: #{$danger-color-200};
	}

	&-Header {
		flex-grow: 1;
		background-color: inherit;
	}

	&-Title {
		@include reset-title;
	}

	&-Title {
		font-family: cssvar((--location-title-font, --default-header), $default-header);
		font-size: cssvar((--location-title-size, --default-font-size), $default-font-size);
		font-weight: cssvar(--location-title-weight, 500);
		color: cssvar((--location-title-color, --dark-text-color), $text-color-900);
	}

	&-Title > .Icon {
		@include size(1em);
		vertical-align: -0.15em;
		margin-right: 4px;
	}

	&-Subtitle {
		@include reset-title;
	}

	&-Subtitle {
		display: cssvar(--location-subtitle-display, block);
		font-family: cssvar((--location-subtitle-font, --default-font), $default-font);
		font-size: cssvar((--location-subtitle-size, --default-font-size), $default-font-size);
		font-weight: cssvar(--location-subtitle-weight, 400);
		color: cssvar((--location-subtitle-color, --dimmed-text-color), $text-color-800);
	}

	> .Timeslots {
		@include reset-list;
	}
}

@import 'Location.mobile';
@import 'Location.columns';
@import 'Location.rows';
@import 'Location.list';
