@include layout('columns') {
	.blokks-location {
		@include var(min-width, --location-width, $location-width);

		&__header {
			@include var(border-bottom-width, --header-width, $border-width);
			@include var(border-bottom-color, --stroke-color, $default-stroke-color);
			border-bottom-style: solid;
			padding: 15px 0;
		}

		&__titles {
			text-align: center;
		}

		&__timeslots {
			@include var(padding-left, --cellspacing, $cellspacing);
			@include var(padding-right, --cellspacing, $cellspacing);

			background: bg-rows(
				$row-height: var(--timeslot-height, $timeslot-height),
				$border-width: var(--border-width, $border-width),
				$stroke-color: var(--stroke-color, $default-stroke-color)
			);

			background-position-y: calc(-1 * var(--border-width, $border-width));
		}

		// TODO: Rename to tablecells or cells
		&__timeslot {
			@include var(height, --timeslot-height, $timeslot-height);
		}
	}
}
