@include layout('list') {
	.Location {
		&-Header {
			padding: 15px 0;
			text-align: center;
			border-bottom-width: cssvar(--border-width, $border-width);
			border-bottom-color: cssvar(--stroke-color, $default-stroke-color);
			border-bottom-style: solid;
		}
	}
}
