.Timetable-Skeleton {
	display: none;

	@supports (display: contents) {
		display: contents;
	}

	.Gutter:before {
		flex: none;
	}

	.Location-Header {
		@include column;
	}

	.Location-Title {
		@include skeleton-text($width: 40%);
	}

	.Location-Subtitle {
		@include skeleton-text($width: 65%);
		margin-top: 4px;
	}

	.Location-Header {
		flex: none;
	}
}

@include layout('columns') {
	.Timetable-Skeleton {
		.Gutter:before {
			height: 69px;
		}

		.Location {
			height: 100vh;
		}

		.Location-Header {
			align-items: center;
		}

		.Timeslots {
			flex: 1;
		}
	}
}

@include layout('rows') {
	.Timetable-Skeleton {
		.Location {
			width: 100vw;
		}

		.Gutter:before,
		.Location-Header {
			align-items: flex-start;
			width: 150px;
		}

		.Location-Header {
			justify-content: center;
		}

		.Timeslots {
			flex: 1;
		}
	}
}

@include device('mobile') {
	.Timetable-Skeleton {
		.Timeslots {
			height: 150px;
		}
	}
}
