.blokks-time-indicator {
	background-color: $secondary-color;
	background-color: var(--secondary-color, $secondary-color);

	@include layout('columns') {
		height: 1px;
	}

	@include layout('rows') {
		width: 1px;
	}

	&__time-label {
		display: none;
	}
}
