.TimeIndicator {
	background-color: cssvar((--time-indicator-color, --accent-color) $accent-color);

	@include layout('columns') {
		height: 2px;
	}

	@include layout('rows') {
		width: 2px;
	}

	&__time-label {
		display: none;
	}
}
