.TimeIndicator {
	background-color: cssvar((--timeindicator-color, --accent-color), $accent-color);

	@include layout('columns') {
		height: 1px;
	}

	@include layout('rows') {
		width: 1px;
	}

	> time {
		display: none;
	}
}
