.blokks-alert {
	@include var(font-size, --alert-text-size, 13px);
	display: block;
	margin: 0;
	padding: 12px 20px 14px;

	&--info {
		@include var(background-color, --info-background-color, $info-color-100);
		@include var(color, --info-text-color, $info-color-300);
	}

	&--warning {
		@include var(background-color, --warning-background-color, $warning-color-100);
		@include var(color, --warning-text-color, $warning-color-300);
	}

	&--danger {
		@include var(background-color, --danger-background-color, $danger-color-100);
		@include var(color, --danger-text-color, $danger-color-300);
	}
}
