.blokks-alert {
	@include font($default-font, $size: rem(14px));
	display: block;
	margin: 0;
	padding: 12px 20px 14px;

	&--info {
		color: $info-text-color;
		color: var(--info-text-color, $info-text-color);
		background-color: $info-background-color;
		background-color: var(--info-background-color, $info-background-color);
	}

	&--warning {
		color: $warning-text-color;
		color: var(--warning-text-color, $warning-text-color);
		background-color: $warning-background-color;
		background-color: var(--warning-background-color, $warning-background-color);
	}

	&--danger {
		color: $danger-text-color;
		color: var(--danger-text-color, $danger-text-color);
		background-color: $danger-background-color;
		background-color: var(--danger-background-color, $danger-background-color);
	}
}
