.blokks-buttonbar {
	@include row();

	&__option {
		@include reset-button;
	}

	&__option {
		@include var(font-size, --dateselector-label-size, 14px);
		@include var(font-weight, --dateselector-label-weight, 400);
		@include var(color, --dateselector-label-color, $text-color-800);
		white-space: nowrap;
		border-bottom: 1px solid transparent;
	}

	&__option:not(:last-of-type) {
		margin-right: 10px;
	}

	&__option:not(&--selected):hover {
		@include var(color, (--dateselector-selected-color, --theme-color), $theme-color);
	}

	&__option--selected {
		@include var(color, (--dateselector-selected-color, --theme-color), $theme-color);
		border-bottom: 1px solid;
	}
}
