.blokks-buttonbar {
	display: flex;
	flex-direction: row;

	&__option {
		@include reset-button;
		@include font($default-font, $size: rem(14px));
		color: $darkest-text-color;
		color: var(--darkest-text-color, $darkest-text-color);
		white-space: nowrap;
		border-bottom: 1px solid transparent;

		&:not(:last-of-type) {
			margin-right: 10px;
		}

		&:not(&--selected):hover {
			color: $theme-color;
			color: var(--hover-text-color, var(--theme-color, $theme-color));
		}
	}

	&__option--selected {
		color: $theme-color;
		color: var(--theme-color, $theme-color);
		border-bottom: 1px solid;
	}
}
