.blokks-categories {
	@include horizontal-list();

	&__category {
		@include font($default-font);
		color: $text-color-800;
		color: var(--darker-text-color, $text-color-800);
		text-transform: capitalize;
		white-space: nowrap;
		line-height: 1;

		margin: 0 2px 2px 0;
		padding: 7px 20px 8px;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 16px;
		user-select: none;

		@include device('mobile') {
			font-size: rem(13px);
		}

		@include device('desktop') {
			font-size: rem(13px);
		}
	}
}
