.Categories {
	@include reset-list;
}

.Categories {
	display: cssvar(--categories-display, flex);
	flex-direction: row;

	> li {
		margin: 0 2px 2px 0;
		padding: 6px 12px;
		border-radius: 12px;

		font-size: cssvar((--categories-text-size, --default-font-size), $default-font-size);
		font-weight: cssvar(--categories-text-weight, 400);
		color: cssvar((--categories-text-color, --dimmed-text-color), $text-color-800);
		text-transform: capitalize;
		white-space: nowrap;
		line-height: 1;
		background-color: cssvar(--categories-background-color, $background-color-200);
	}
}
