.blokks-dropdown {
	@include var(font-size, --dateselector-label-size, $default-font-size);
	@include var(font-weight, --dateselector-label-weight, 400);
	@include var(color, --dateselector-label-color, $text-color-700);
	text-transform: capitalize;

	position: relative;
	display: block;
	width: 200px;
	fill: currentColor;

	&:hover {
		@include var(color, --dateselector-hover-color, $text-color-900);
	}

	select {
		@include reset-dropdown();
	}

	select {
		@include var(background-color, --dateselector-background-color, $background-color-200);
		padding: 10px 20px;
		width: 100%;
		border-radius: 20px;

		font: inherit;
		color: inherit;
		cursor: pointer;
	}

	svg {
		@include absolute($top: 11px, $right: 15px);
		@include size(1.2rem);
	}
}
