.Dropdown {
	display: block;
	position: relative;
	width: 200px;

	font-size: cssvar((--dateselector-text-size, --default-font-size), $default-font-size);
	font-weight: cssvar(--dateselector-text-weight, 400);
	color: cssvar(--dateselector-text-color, $text-color-700);
	text-transform: capitalize;
	fill: currentColor;

	&:hover {
		--dateselector-hover-color: #{cssvar(--dark-text-color, $text-color-900)};
	}

	select {
		@include reset-dropdown;
	}

	select {
		padding: 8px 16px;
		width: 100%;
		background-color: cssvar(--dateselector-background-color, $background-color-200);
		border-radius: 16px;

		font: inherit;
		color: inherit;
		cursor: pointer;
	}

	> .Icon {
		@include absolute($top: 8px, $right: 16px);
		@include size(1.2rem);
	}
}
