.PrimaryButton {
	@include reset-button;
}

.PrimaryButton {
	font-size: cssvar((--primarybutton-text-size, --default-font-size), $default-font-size);
	font-weight: cssvar(--primarybutton-text-weight, 500);
	color: cssvar((--primarybutton-text-color, --light-text-color), $text-color-100);
	background-color: cssvar((--primarybutton-background-color, --theme-color), $theme-color);

	display: inline-block;
	padding: 11px 20px;
	border-radius: 20px;

	> .Icon {
		@include size(1em);
		margin-right: 4px;
		vertical-align: -0.15em;
	}
}
