.Timelabels {
	@include truncate-tail;
	display: cssvar(--timelabels-display, block);
	font-size: cssvar(--timelabels-text-size, 13px);
    font-weight: cssvar(--timelabels-text-weight, 400);
	color: cssvar((--timelabels-text-color, --dimmed-text-color), $text-color-800);
}
