.Timelabels {
	display: cssvar(--timelabels-display, inline);
	font-size: cssvar(--timelabels-text-size, 14px);
	font-weight: cssvar(--timelabels-text-weight, 400);
	color: cssvar((--timelabels-text-color, --dimmed-text-color), $text-color-800);

	&-StartsAt {
		display: inline-block;
	}

	&-EndsAt {
		display: inline-block;
	}
}
