.UserList {
	@include reset-list;
}

.UserList {
	display: cssvar(--userlist-display, flex);
	flex-direction: row;

	> li > img {
		@include size(32px);
		box-shadow: 0 0 0 3px white;
		border-radius: 50%;
	}
}
