.RelatedInfo {
    @include column;
    font-size: cssvar((--activitydetails-description-size, --default-font-size), $default-font-size);
    font-weight: cssvar(--activitydetails-description-weight, 400);
    color: cssvar((--activitydetails-description-color, --dimmed-text-color), $text-color-800);

    --timelabels-text-size: $default-font-size;

    .RelatedInfo-LocationLabel:before {
        display: inline-block;
        white-space: pre-wrap;
        content: 'Stage: ';
    }

    .Categories {
        margin: 8px 0 0 -4px;
        order: 1;
	}

    &-DateInfo {
        @include row;
        margin-top: 20px;
        padding-left: 12px;
        border-left: 2px solid var(--default-stroke-color, $default-stroke-color);
        order: 2;
    }

    &-LocationLabel {
        padding-left: 12px;
        border-left: 2px solid var(--default-stroke-color, $default-stroke-color);
        order: 3;
    }

    &-DateInfo:before {
        display: inline-block;
        white-space: pre-wrap;
        content: 'Date: ';
    }

    .Timelabels {
        order: 2;
    }

    .DateLabel {
        order: 1;
    }

    .DateLabel:after {
        content: ', ';
        white-space: pre-wrap;
    }

    &--now-playing .DateLabel {
        display: none;
    }

    &--coming-soon .DateLabel {
        display: none;
    }
}
